body {
    margin: 0; 
    width: 800px;
    height: 550px;
    border: 1px solid #eeb310; 
}

#banner{
    width: 800px; 
    height:80px; 
    margin: 0
}

#frame{
    width: 800px; 
    height: 400px; 
    overflow: hidden;
   
}

#queue {
    margin: 0; 
    padding: 0;
}

li {
    align-content: left;
    float: left; 
    list-style-type: none; 
    width: 700px; 
    height: 400px; 
    margin-top: 0;
    padding-left: 70px; 
    padding-right: 30px;
    z-index: 99;
}

#footer{
    position: relative;
    height: 50px;
    width: 750px;
    background-color: #eeb310;
    /*background-color: #F47E20;*/
    padding-right: 50px;
    text-align: right;
    color: white;
    z-index: 9; 
    
}

button.pagination:disabled,
button.pagination[disabled]{
    margin-top: 15px;
    color: #ffffff;
    background-color: #efb310;
}
.pagination{
    margin-top: 15px;
    color: #ffffff;
    background-color: #f5cf68;
    border: 1px solid ; 
}


/*cover slide styling*/
#cover-slide-para{
    height: 150px;
}

.move-dropDown{
    position: relative;
    top: 350px;
    left: 0; 
}

#results-slide-title{
    position: relative;;
    top: -20px;
}

#report, #refresh{
    margin-top: 15px;
    color: #ffffff;
    background-color: #f5cf68;
    border: 1px solid ; 
}

/*cover slide styling --- ends*/


/*section slide styling */
.section-intro{
    height: 270px;
}
/*section slide styling ---ends */


/*question slide styling*/
#question{
    height: 40px;
}


.question-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    /*width: 50%;*/
    height: 220px; /* Should be removed. Only for demonstration */
}

.question-left{
    width: 70%;
}

.question-right{
    width: 30%;
}

label {
  display: block;
}

.img{
    width: 200px;
    height: 200px;
}

.disclaimer{
    font-size: 10px;
}
/*question slide styling --- ends */


/*results slide styling */
.results-row{
    display: table;
    clear: both;
    width: 700px;
    height: 300px;
}

.results-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    width: 50%;
}

#canvas-holder {
    position: relative;
    width: 95%;
    top: -20px;
}

#pieChart {
    position: relative;
   /* margin-top: -25px;*/
}

.legend {
    position: right;
    font-weight: normal;
    font-size: @size + 2;
}

#funds {
    font-size: 9.5px;
    text-align: left;
    margin-left: 195px;
    margin-top: -250px;
    width: 53%;
    font-family: verdana;
}
/*results slide styling --- ends */





#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 100px;
    left: 200px;
    z-index: 99; /* Sit on top */
    width: 425px; /* Full width */
    height: 425px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    border: 1px solid #eeb310; 
    box-shadow: 5px 5px 10px #888888;
}



#report-window{
    padding: 10px;

}

.next, .previous{
    background-color: #f5cf68;
    position: relative;
}

.report-row {
    display: table;
    clear: both;
    width: 375px;
    height: 185px;
}
.report-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    width: 50%;
}