@media print
{
    .page-break  { display:block; page-break-before:always; }
    
    .header-line {
		display:inline;
	}

	.header-line .header-line-yellow {
		float:left;
		padding-top:15px;
		width:5%;
    	border-bottom: 10px solid #F1B820;
    }
    .header-line .header-line-blue {
    	float:left;
    	padding-top:15px;
		width:40%;
    	border-bottom: 10px solid #15289C;
    }
    .header-line .header-line-grey {
    	float:left;
    	padding-top:15px;
		width:55%;
    	border-bottom: 10px solid #848690;
    }

    .logo img {
    	width:200px;
    	margin-left: 6%;
    }

    .report-title {
        margin-left: 50px;
        margin-top: 45%;
    }
    .report-name1 {
        color: #0b2e66;
        margin-bottom: 0;
    }

    .report-name2 {
        color: #ffc323;
        font-weight: lighter;
        margin-top: 5px
    }

    .for-whom {
        margin-top:60px;
        height: 150px;
    }

    .for-whom, .by-whom p{
        color: #1489c9;
    }

    .by-whom {
        height: 150px;
    }

    .user-name, .advisor-name {
        color:black;
        margin-left: 40px;
        font-size: 20px;
    }

    .second-page p {
        font-size: 12px;
    }

    .title {
        color: #0b2e66;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .sub-title {
        color:#1489c9;
        font-size: 15px;
        margin-top:5px;
        margin-bottom: 5px;
    }

    .content {
        margin-top: 15%;
        margin-left: 30px;
        margin-right: 30px;       
    }

    .statement .check-box {
        height: 12px;
        width: 12px;
        border: 1px solid #1489c9;
        float:left;
        margin-right: 10px;
    }

    .type-select {
        font-size:12px;
        margin-left: 20px;
        margin-top: 3px;
    }

    .element-intro {
        font-size: 20px;
        color: #0b2e66;
    }

    .infographic-block {
        width:31%;
        float: left;
        margin: 10px;
    }

    .infographic-block p {
        margin-left:0;
        font-size: 12px;
    }

    .first-info-block {
        margin-left:0;
        margin-right:0;
    }

    .first-info-block .item {
        display: inline-block;
        font-size:9px;
    }

    .first-info-block .item-number {
        font-size: 14px;
        float:left;
        height:20px;
        width:20px;
        line-height:20px;
        text-align: center;
        color: white;
        margin-bottom: 40px;
        margin-right:10px;
        -webkit-print-color-adjust: exact;
    }

    .first-info-block .item-value {
        margin-right: 10px;
    }

    .item-number-one {
        background-color: #848690 !important;
    }

    .item-number-two {
        background-color: #F1B820 !important;
    }

    .item-number-three {
        background-color: #15289C !important;
    }

    .pie-chart-img {
        max-width:50%;
        height:auto;
        margin-left:25%;
    }

    .global-img {
        max-width:80%;
        margin-left: 20px;
        margin-right: 20px;
        
    }

    .flow-chart-img {
        max-width:80%; 
        margin-bottom: 20px;
    }

    .second-info-block {
        border-left: 1px solid #F1B820;
        border-right: 1px solid #F1B820;
    }

    .second-info-block p {
        margin-left: 20px;
    }

    .second-info-block img {
        margin-top:10px;
        margin-bottom:50px;
    }

    .second-info-block h3, p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .third-info-block img {
        margin-top:25px;
    }

    .advisor-comment h3 {
        color: #0b2e66;
        margin-bottom: 0px;
    }

    .comment-block {
        border: 1px solid #0b2e66;
        height: 100px;
        width: 100%;
        margin-top:5px;
    }

    .comment-disclaimer {
        margin-top: 10px;
        color: #b0b1b2;
        font-size: 11px;
    }

    .acceptance h4 {
        color: #1489c9;
        margin-bottom: 5px;
        margin-top: 35px;
    }

    .acceptance p {
        margin-left: 0;
        margin-top:5px;
        font-size: 12px;
    }

    .accepted-by h4{
        color: #358cff;
    }

    .empty-line {
        line-height:30px;
        height: 30px;
        border-bottom: 1px solid black;
    }

    .empty-line-date {
        height: 30px;
        line-height:30px;
        border-bottom: 1px solid black;
    }

    .signature {
    }

    .print-name {
        margin-right:10px;
        width: 40%;
        float:left;
    }

    .sign-name {
        margin-right:10px;
        width: 40%;
        float:left;
    }

    .date {
        width: 14%;
        float:left;
    }

    .disclaimer p,h5 {
        color: #b0b1b2;
        font-size: 11px;
        margin-left:0px;
    }

    .disclaimer {
        margin-top: 40%;
    }
}